# Pre-commit
actionlint-py
codespell
cookiecutter
django-stubs
mypy
pre-commit
pytest
pytest-cov
pytest-django
pytest-mock
ruff
sqlfluff
uv
yamllint

# Other build or development dependencies
build
ipython
twine

# Run-time dependencies
django
django-extensions
wagtail
