# Pre-commit
django-stubs
mypy
pre-commit
pytest
pytest-django
pytest-mock
ruff
uv
yamllint

# Other build or development dependencies
build
twine

# Run-time dependencies
django
django-extensions
wagtail
